:root {
    --width-card: 270px;
    --width-card-medium: 1080px;
    --width-card-wide: 1080px;
    --width-content: 1080px;
}

main.max-width {
    max-width: 100%;
}

table {
    display: table;
    white-space: normal;
    width: 100%;
    min-width: var(--width-content);
}

table.modal {
    min-width: unset;
}

table td,
table th,
table tr {
    text-align: var(--justify-normal);
}

img:not(.logo):not([class^='leaflet-']) {
    object-fit: cover;
    min-width: 70px;
    width: 70px;
    height: 70px;
}

img.cover {
    object-fit: cover;
    min-width: 300px;
    width: 300px;
    height: 300px;
}

.htmx-indicator {
    display: none;
}

.htmx-request {
    display: block;
}

#spinner {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.2);
}

#spinner-img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#spinner-img::selection {
    background-color: rgba(0, 0, 0, 0);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.stretched {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

th.sortable {
    padding-left: 20px;
    position: relative;
    cursor: default;
}

th.sortable::before,
th.sortable::after {
    border: 4px solid transparent;
    content: '';
    display: block;
    height: 0;
    left: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

th.sortable::before {
    border-bottom-color: #fff;
    margin-top: -9px;
}

th.sortable::after {
    border-top-color: #fff;
    margin-top: 1px;
}

td.nowrap {
    white-space: nowrap;
}

#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(1, 1, 1, 0.2);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal > .modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
}

#map {
    max-width: 535px;
    height: 535px;
}

#map-event-location {
    max-width: 600px;
    height: 600px;
}
