*.pyc
__pycache__/*
.git
.direnv
.envrc
.mypy_cache
.pytest_cache
.pre-commit-config.yaml
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
Makefile
precommit_mypy_deps_update
runtime_data
tests
*.sqlite3
.ruff_cache
.vim
