*.pyc
**/__pycache__
**/*.pyc
.git
.direnv
.envrc
.mypy_cache
.pytest_cache
.pre-commit-config.yaml
.prettierignore
.prettierrc
.lvimrc
docker-compose.yml
compose.yml
README.md
Dockerfile
Makefile
precommit_mypy_deps_update
runtime_data
tests
*.sqlite3
.ruff_cache
.vim
