<h3>0.19.23 (2024-10-18)</h3>
<ul>
    <li>Playlist actions are available on playlist page</li>
</ul>

<h3>0.19.13 (2024-09-08)</h3>
<ul>
    <li>Each album has its own page showing a list of tracks</li>
</ul>

<h3>0.19.10 (2024-09-04)</h3>
<ul>
    <li>
        Discography creation page displays total number of tracks in each album
    </li>
</ul>

<h3>0.19.3 (2024-09-03)</h3>
<ul>
    <li>Cover images can be (re-)generated for existing playlists</li>
</ul>

<h3>0.19.2 (2024-09-02)</h3>
<ul>
    <li>Playlist page displays the cover image</li>
</ul>

<h3>0.19.0 (2024-09-02)</h3>
<ul>
    <li>
        New discography playlist can be created with an AI-generated cover image
    </li>
</ul>

<h3>0.18.1 (2024-08-27)</h3>
<ul>
    <li>Allow editing the title of own playlist only</li>
</ul>

<h3>0.18.0 (2024-08-27)</h3>
<ul>
    <li>Playlist title can be edited</li>
</ul>

<br />
<h4>[...]</h4>
<br />

<h3>0.1.1 (2024-04-03)</h3>
<ul>
    <li>Initial release</li>
</ul>
