<tr>
    <td>{{ event.date }}</td>
    <td>{{ event.venue | default_if_none:'' }}</td>
    <td>{{ event.city | default_if_none:'' }}</td>
    <td>{{ event.country | default_if_none:'' }}</td>
    <td>
        <a href=""
           hx-get="{% url 'event_details' event.id %}"
           hx-target="body"
           hx-swap="beforeend"
           hx-indicator="#spinner"
           hx-headers='{"M-Artist-Name": "{{ artist.name | urlencode }}"}'>
            {% include "web/icons/info.html" with title="Info and tickets" %}
        </a>
    </td>
</tr>
