<footer>
    <hr>
    <div class="footer">
        <small>Made with 💙 and out of 🥱 by <a href="https://www.linkedin.com/in/ayurchuk/">👨‍💻</a></small>
        <small>Powered by Spotify <a href="https://developer.spotify.com/documentation/web-api">Web API</a></small>
        <small>Icons by <a href="https://www.s-ings.com/typicons/">Typicons</a></small>
        <small><a href="mailto:feedback@mottle.it">Feedback</a></small>
        <small><a href="https://stats.uptimerobot.com/twLEyKzrW7/796740106">Status</a></small>
        <small><a href="{% url 'changelog' %}" hx-boost="true" hx-indicator="#spinner">v{{ APP_VERSION }}</a></small>
    </div>
</footer>
