{% for update_id, watched_entity, tracks in updates %}
    <div>
        <header>
            <a href="{{ watched_entity.url }}">
                <h2>{{ watched_entity.name }}</h2>
            </a>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Artwork</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                    <tr>
                        <td>
                            <img class="small" src="{{ track.album.image_url_small }}" />
                        </td>
                        <td>
                            {% for artist in track.artists %}
                                <a href="{{ artist.url }}">{{ artist.name }}</a>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ track.album.url }}">{{ track.album.name }}</a>
                        </td>
                        <td>
                            <a href="{{ track.url }}">{{ track.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button hx-post="{% url 'accept_playlist_update' playlist.id update_id %}"
                hx-confirm="Are you sure you want to add new tracks to playlist?"
                hx-target="closest div"
                hx-swap="outerHTML"
                hx-indicator="#spinner">Accept</button>
    </div>
{% empty %}
    <article>
        <aside>
            <h3>No updates found</h3>
        </aside>
    </article>
{% endfor %}
