{% load tekore_model_extras %}
<td>
    {% if playlist.owner.id == request.session.spotify_user_spotify_id %}
        <a href=""
           hx-get="{% url 'rename_playlist' playlist.id %}"
           hx-target="previous .name"
           hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}", "M-Playlist-OwnerID": "{{ playlist.owner.id | urlencode }}", "M-Playlist-SnapshotID": "{{ playlist.snapshot_id }}"}'>
            {% include "web/icons/edit.html" with title="Rename" %}
        </a>
        <a href=""
           hx-get="{% url 'playlist_cover_image' playlist.id %}"
           hx-target="body"
           hx-swap="beforeend"
           hx-indicator="#spinner"
           hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}", "M-Playlist-SpotifyURL": "{{ playlist | spotify_url }}", "M-Playlist-ImageURL": "{{ playlist.images | largest_image | default_image:300 }}"}'>
            {% include "web/icons/image.html" with title="Cover image" %}
        </a>
    {% endif %}
    <a href="{% url 'deduplicate_playlist' playlist.id %}"
       hx-boost="true"
       hx-indicator="#spinner"
       hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}", "M-Playlist-OwnerID": "{{ playlist.owner.id | urlencode }}", "M-Playlist-SnapshotID": "{{ playlist.snapshot_id }}"}'>
        {% include "web/icons/find_duplicates.html" %}
    </a>
    {% comment %}<a href="{% url 'playlist_audio_features' playlist.id %}"
   {% endcomment %}
   {% comment %}
   hx-boost="true"
   {% endcomment %}
   {% comment %}
   hx-indicator="#spinner"
   {% endcomment %}
   {% comment %}
   hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}", "M-Playlist-OwnerID": "{{ playlist.owner.id | urlencode }}"}'>{% endcomment %}
    {% comment %}    {% include "web/icons/audio_features.html" %}{% endcomment %}
    {% comment %}</a>{% endcomment %}
    {% comment %}<a href=""
   {% endcomment %}
   {% comment %}
   hx-post="{% url 'copy_playlist' playlist.id %}"
   {% endcomment %}
   {% comment %}
   hx-confirm="Are you sure you want to create a copy of playlist {{ playlist.name }}?"
   {% endcomment %}
   {% comment %}
   hx-target="closest tr"
   {% endcomment %}
   {% comment %}
   hx-swap="afterend"
   {% endcomment %}
   {% comment %}
   hx-indicator="#spinner"
   {% endcomment %}
   {% comment %}
   hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}"}'>{% endcomment %}
    {% comment %}    {% include "web/icons/copy.html" with title="Create a copy" %}{% endcomment %}
    {% comment %}</a>{% endcomment %}
    <a href=""
       hx-get="{% url 'merge_playlist' playlist.id %}"
       hx-target="body"
       hx-swap="beforeend"
       hx-indicator="#spinner"
       hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}"}'>{% include "web/icons/merge.html" %}</a>
    <a href=""
       hx-get="{% url 'watch_playlist' playlist.id %}"
       hx-target="body"
       hx-swap="beforeend"
       hx-indicator="#spinner"
       hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}"}'>{% include "web/icons/watch.html" %}</a>
    {% if playlist.id in watching_playlists %}
        <a href=""
           hx-get="{% url 'configure_playlist' playlist.id %}"
           hx-target="body"
           hx-swap="beforeend"
           hx-indicator="#spinner"
           hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}"}'>
            {% include "web/icons/settings.html" %}
        </a>
        <a href="{% url 'playlist_updates' playlist.id %}"
           hx-boost="true"
           hx-indicator="#spinner"
           hx-headers='{"M-Playlist-Name": "{{ playlist.name | urlencode }}"}'>
            {% include "web/icons/update.html" with title="Check for updates" %}
        </a>
    {% endif %}
    <a href=""
       hx-post="{% url 'unfollow_playlist' playlist.id %}"
       hx-confirm="Are you sure you want to {% if playlist.owner.id == request.session.spotify_user_spotify_id %}delete{% else %}unfollow{% endif %} playlist {{ playlist.name }}?"
       hx-target="closest tr"
       hx-swap="outerHTML"
       hx-indicator="#spinner">
        {% if playlist.owner.id == request.session.spotify_user_spotify_id %}
            {% include "web/icons/delete.html" %}
        {% else %}
            {% include "web/icons/unfollow.html" %}
        {% endif %}
    </a>
</td>
