{
  "M-Playlist-Name": "{{ playlist.name | urlencode }}",
  "M-Playlist-URL": "{{ playlist.url }}",
  "M-Playlist-ImageURLSmall": "{{ playlist.image_url_small }}",
  "M-Playlist-ImageURLLarge": "{{ playlist.image_url_large }}",
  "M-Playlist-OwnerID": "{{ playlist.owner_id }}",
  "M-Playlist-OwnerName": "{{ playlist.owner_name }}",
  "M-Playlist-OwnerURL": "{{ playlist.owner_url }}",
  "M-Playlist-SnapshotID": "{{ playlist.snapshot_id }}",
  "M-Playlist-NumTracks": "{{ playlist.num_tracks }}",
  "M-Source": "{{ source }}",
  "M-Destination": "{{ destination }}"
}
