{% load static %}
{% block maps_resources %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
            defer></script>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"
            defer></script>
{% endblock %}
<div id="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h2>{{ artist }}</h2>
        {{ event.date }} in {{ event.venue }}, {{ event.city }}, {{ event.country }}
        <div>
            {% if event.type == 'live_stream' %}
                <b>Live stream</b>
                {% for u in event.stream_urls %}
                    <a href="{{ u }}">{% include "web/icons/video.html" with title="Live stream" %}</a>
                {% empty %}
                    not available yet
                {% endfor %}
            {% else %}
                <b>Tickets</b>
                {% for u in event.tickets_urls %}
                    <a href="{{ u }}">{% include "web/icons/ticket.html" %}</a>
                {% empty %}
                    not available yet
                {% endfor %}
            {% endif %}
        </div>
        <br>
        {% if event.type != 'live_stream' %}
            <div id="map"></div>
            <input type="hidden"
                   id="latitude"
                   name="latitude"
                   value="{{ event.geolocation.y | default_if_none:'' }}">
            <input type="hidden"
                   id="longitude"
                   name="longitude"
                   value="{{ event.geolocation.x | default_if_none:'' }}">
            <script defer src="{% static 'web/map_event_location.js' %}"></script>
        {% endif %}
    </div>
</div>
