{% load static %}
<div id="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <form>
            <label for="playlist-name">Watched playlist</label>
            {{ playlist_name }}
            <br>
            <br>
            <label for="playlist-name">Watching playlist</label>
            <select name="watching-playlist-id"
                    onchange="toggleInput(this, '--- Create new ---', 'new-playlist-name')">
                <option>--- Create new ---</option>
                {% for playlist in playlists %}<option value="{{ playlist.id }}">{{ playlist.name }}</option>{% endfor %}
            </select>
            <input id="new-playlist-name"
                   type="text"
                   name="new-playlist-name"
                   placeholder="Playlist name..."
                   required>
            <label for="auto-accept">Automatically add new tracks to watching playlist</label>
            <input type="checkbox" name="auto-accept">
            <br>
            <button hx-post="{% url 'watch_playlist' playlist_id %}"
                    hx-target="#modal"
                    hx-swap="delete"
                    hx-indicator="#spinner">Watch</button>
        </form>
    </div>
</div>
