{% load static %}
{% load tekore_model_extras %}
<div id="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <label>Playlists watched for new tracks</label>
        {% if watched_playlists %}
            <input type="hidden" name="watching-playlist-id" value="{{ playlist_id }}">
            <table class="modal">
                {% for watched_playlist, auto_accept_updates in watched_playlists %}
                    <tr>
                        <td>
                            <a href="{{ watched_playlist | spotify_url }}">{{ watched_playlist.name }}</a>
                        </td>
                        <td>
                            <a href="{{ watched_playlist.owner | spotify_url }}">{{ watched_playlist.owner.display_name }}</a>
                        </td>
                        <td>
                            <input type="hidden"
                                   name="watched-playlist-id"
                                   value="{{ watched_playlist.id }}">
                            <a href=""
                               hx-post="{% url 'auto_accept_updates' playlist_id %}"
                               hx-target="this"
                               hx-include="previous input"
                               hx-indicator="#spinner">
                                {% include "web/icons/accept.html" with enabled=auto_accept_updates %}
                            </a>
                            <a href=""
                               hx-delete="{% url 'watch_playlist' watched_playlist.id %}"
                               hx-include="[name='watching-playlist-id']"
                               hx-confirm="Are you sure you want to stop watching playlist {{ playlist.name }}?"
                               hx-target="closest tr"
                               hx-swap="outerHTML"
                               hx-indicator="#spinner">{% include "web/icons/unfollow.html" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No playlists watched</p>
        {% endif %}

        <label>Artists watched for new releases</label>
        {% if watched_artists %}
            <input type="hidden" name="watching-playlist-id" value="{{ playlist_id }}">
            <table class="modal">
                {% for watched_artist, auto_accept_updates in watched_artists %}
                    <tr>
                        <td>
                            <a href="{{ watched_artist | spotify_url }}">{{ watched_artist.name }}</a>
                        </td>
                        <td>
                            <input type="hidden"
                                   name="watched-artist-id"
                                   value="{{ watched_artist.id }}">
                            <a href=""
                               hx-post="{% url 'auto_accept_updates' playlist_id %}"
                               hx-target="this"
                               hx-include="previous input"
                               hx-indicator="#spinner">
                                {% include "web/icons/accept.html" with enabled=auto_accept_updates %}
                            </a>
                            {% comment %}<a href=""{% endcomment %}
                            {% comment %}   hx-delete="{% url 'watch_playlist' watched_playlist.id %}"{% endcomment %}
                            {% comment %}   hx-include="[name='watching-playlist-id']"{% endcomment %}
                            {% comment %}   hx-confirm="Are you sure you want to stop watching playlist {{ playlist.name }}?"{% endcomment %}
                            {% comment %}   hx-target="closest tr"{% endcomment %}
                            {% comment %}   hx-swap="outerHTML"{% endcomment %}
                            {% comment %}   hx-indicator="#spinner">{% include "web/icons/unfollow.html" %}</a>{% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No playlists watched</p>
        {% endif %}
    </div>
</div>
