{% load static %}
<div id="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <form>
            <label for="playlist-name">Source playlist</label>
            {{ playlist_name }}
            <br>
            <br>
            <label for="playlist-name">Target playlist</label>
            <select name="merge-target"
                    onchange="toggleInput(this, '--- Create new ---', 'new-playlist-name')">
                <option>--- Create new ---</option>
                {% for playlist in playlists %}<option value="{{ playlist.id }}">{{ playlist.name }}</option>{% endfor %}
            </select>
            <input id="new-playlist-name"
                   type="text"
                   name="new-playlist-name"
                   placeholder="Playlist name..."
                   required>
            <label for="auto-update">Watch source playlist for new tracks</label>
            <input type="checkbox"
                   name="auto-update"
                   id="auto-update"
                   checked
                   onClick="toggleRelatedCheckbox(this, 'auto-accept')">
            <br>
            <label for="auto-accept">Automatically add new tracks to target playlist</label>
            <input type="checkbox" name="auto-accept" id="auto-accept">
            <br>
            <button hx-post="{% url 'merge_playlist' playlist_id %}"
                    hx-target="#modal"
                    hx-swap="delete"
                    hx-indicator="#spinner">Merge</button>
        </form>
    </div>
</div>
