{% load tekore_model_extras %}
<table>
    {% for item in albums %}
        <tr>
            <td>
                <input type="checkbox"
                       name="album"
                       class="toggling {{ item.album_type }}"
                       value="{{ item.id }}"
                       onchange="toggleSubmitButton()"
                       {% if item.album_type in 'album,single' %}checked{% endif %}>
            </td>
            <td>
                <img src="{{ item.images | pick_image | default_image:70 }}">
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.release_date | year }}</td>
            <td>{{ item.album_type }}</td>
        </tr>
    {% endfor %}
</table>
