{% load tekore_model_extras %}
<table>
    <thead>
        <tr>
            <th>Artwork</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Track</th>
            <th>Duration</th>
        </tr>
    </thead>
    {% for item in playlist_items %}
        <tr>
            <td>
                <img src="{{ item.track.album.images | pick_image | default_image:70 }}" />
            </td>
            <td>{{ item.track | artists }}</td>
            <td>{{ item.track.album.name }}</td>
            <td>{{ item.track.name }}</td>
            <td>{{ item.track.duration_ms | duration_humanized }}</td>
        </tr>
    {% endfor %}
</table>
