{% load tekore_model_extras %}
<tr>
    <td>
        <img src="{{ playlist.images | pick_image }}">
    </td>
    <td>
        <a href="{% url 'playlist' playlist.id %}">{{ playlist.name }}</a>
    </td>
    <td>{{ playlist.tracks.total }} tracks</td>
    <td>
        <a href=""
           hx-delete="{% url 'playlist' playlist.id %}"
           hx-target="this"
           hx-swap="outerHTML">
            {% if playlist.owner.id == current_user.id %}
                Delete
            {% else %}
                Unfollow
            {% endif %}
        </a>
    </td>
</tr>
