{% load tekore_model_extras %}
<table>
    <thead>
        <tr>
            <th>Artwork</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Track</th>
            <th>Duration</th>
            <th>Occurs</th>
        </tr>
    </thead>
    {% for id, data in playlist_items.items %}
        {% if item.track.track %}
            <tr>
                <td>
                    <img src="{{ data.track.track.album.images | pick_image | default_image:70 }}" />
                </td>
                <td>{{ data.track.track | artists }}</td>
                <td>{{ data.track.track.album.name }}</td>
                <td>{{ data.track.track.name }}</td>
                <td>{{ data.track.track.duration_ms | duration_humanized }}</td>
                <td>{{ data.positions | times | capfirst }}</td>
                <td style="display:none;">
                    <input type="hidden"
                           name="track-meta"
                           value="{{ data.track.track.uri }}::{{ data.positions | join:',' }}">
                </td>
            </tr>
        {% else %}
            <tr>
                <td>This item is not a track</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
