<label for="playlist-name">Name</label>
<input type="text"
       name="name"
       id="playlist-name"
       value="{{ artist }} discography"
       onkeyup="toggleSubmitButtonInput('playlist-name', 'create')"
       required>
<label for="playlist-description">Description</label>
<input type="text" name="description" id="playlist-description">
<label for="is-public">Make playlist public</label>
<input type="checkbox" name="is-public" id="is-public" checked>
<br>
<label>Include</label>
<input type="checkbox"
       name="all-albums"
       id="all-albums"
       class="toggling"
       onClick="toggleCheckboxGroup(this, 'album')"
       onchange="toggleSubmitButton()"
       {% if not has_albums %}disabled{% endif %}
       checked>
<label for="all-albums">Albums</label>
<input type="checkbox"
       name="all-singles"
       id="all-singles"
       class="toggling"
       onClick="toggleCheckboxGroup(this, 'single')"
       onchange="toggleSubmitButton()"
       {% if not has_singles %}disabled{% endif %}
       checked>
<label for="all-singles">Singles</label>
<input type="checkbox"
       name="all-compilations"
       id="all-compilations"
       class="toggling"
       onClick="toggleCheckboxGroup(this, 'compilation')"
       onchange="toggleSubmitButton()"
       {% if not has_compilations %}disabled{% endif %}>
<label for="all-compilations">Compilations</label>
{% include "web/tables/albums.html" %}
</div>
