{% extends "web/base.html" %}
{% load static %}
{% block title %}
    {{ artist.name }} - albums
{% endblock title %}
{% block page_title %}
    Discography
{% endblock page_title %}
{% block content %}
    {% if albums %}
        <section>
            <form action="."
                  method="post"
                  id="albums-form"
                  hx-boost="true"
                  hx-indicator="#spinner">
                {% csrf_token %}
                <button id="create">Create playlist</button>
                <label for="playlist-name">Name</label>
                <input type="text"
                       name="name"
                       id="playlist-name"
                       value="{{ artist.name }} discography"
                       onkeyup="toggleSubmitButtonInput('playlist-name', 'create')"
                       required>
                <label for="playlist-description">Description</label>
                <input type="text" name="description" id="playlist-description">
                <label>Include</label>
                <input type="checkbox"
                       name="all-albums"
                       id="all-albums"
                       class="toggling"
                       onClick="toggleCheckboxGroup(this, 'album')"
                       onchange="toggleSubmitButton()"
                       {% if not has_albums %}disabled{% endif %}
                       checked>
                <label for="all-albums">Albums</label>
                <input type="checkbox"
                       name="all-singles"
                       id="all-singles"
                       class="toggling"
                       onClick="toggleCheckboxGroup(this, 'single')"
                       onchange="toggleSubmitButton()"
                       {% if not has_singles %}disabled{% endif %}
                       checked>
                <label for="all-singles">Singles</label>
                <input type="checkbox"
                       name="all-compilations"
                       id="all-compilations"
                       class="toggling"
                       onClick="toggleCheckboxGroup(this, 'compilation')"
                       onchange="toggleSubmitButton()"
                       {% if not has_compilations %}disabled{% endif %}>
                <label for="all-compilations">Compilations</label>
                <label for="is-public">Make public</label>
                <input type="checkbox" name="is-public" id="is-public" checked>
                <br>
                <label for="generate-cover">Generate cover image</label>
                <input type="checkbox" name="generate-cover" id="generate-cover">
                {% if events_enabled %}
                    <br>
                    <label for="track-events">Watch artist for live events</label>
                    <input type="checkbox" name="track-events" id="track-events" checked>
                {% endif %}
                <br>
                <label for="auto-update">Watch artist for new releases</label>
                <input type="checkbox"
                       name="auto-update"
                       id="auto-update"
                       checked
                       onClick="toggleRelatedCheckbox(this, 'auto-accept')">
                <br>
                <label for="auto-accept">Automatically add tracks from new releases to the playlist</label>
                <input type="checkbox" name="auto-accept" id="auto-accept">
                <br>
            </form>
        </section>
        <br>
        <section>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Artwork</th>
                        <th class="sortable" onClick="sortTable(this)">Title</th>
                        <th class="sortable" onClick="sortTable(this)">Year</th>
                        <th class="sortable" onClick="sortTable(this)">Tracks</th>
                        <th class="sortable" onClick="sortTable(this)">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in albums %}
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="album"
                                       form="albums-form"
                                       class="toggling {{ album.type }}"
                                       value="{{ album.id }}"
                                       onchange="toggleSubmitButton()"
                                       {% if album.type in 'album,single' %}checked{% endif %}>
                            </td>
                            <td>
                                <img class="small" src="{{ album.image_url_small }}">
                            </td>
                            <td>
                                <a href="{% url 'album' album.id %}"
                                   hx-boost="true"
                                   hx-indicator="#spinner"
                                   hx-headers='{% include "web/parts/album_metadata_headers.html" %}'>{{ album.name }}</a>
                            </td>
                            <td>{{ album.release_year }}</td>
                            <td>{{ album.num_tracks }}</td>
                            <td>{{ album.type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% else %}
        {{ artist.name }} has no albums
    {% endif %}
{% endblock content %}
