{% load static %}
{% load tekore_model_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'web/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'web/mvp.css' %}">
        <link rel="stylesheet" href="{% static 'web/style.css' %}">
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        <meta charset="utf-8">
        <meta name="description" content="My description">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                mottle
            {% endblock title %}
        </title>
        {% block script %}
            <script src="{% static 'web/script.js' %}"></script>
        {% endblock script %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <header>
            <nav>
                <a href="{% url 'index' %}">
                    <img class="logo" alt="Logo" src="{% static 'web/logo.png' %}" height=50">
                </a>
                <ul>
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="#">Search</a>
                        <ul>
                            <li>
                                <a href="{% url 'search_artists' %}"
                                   hx-boost="true"
                                   hx-indicator="#spinner">Artists</a>
                            </li>
                            <li>
                                <a href="{% url 'search_playlists' %}"
                                   hx-boost="true"
                                   hx-indicator="#spinner">Playlists</a>
                            </li>
                        </ul>
                    </li>
                    {% comment %}<li>{% endcomment %}
                    {% comment %}    <a href="#">Help</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}<li>{% endcomment %}
                    {% comment %}    <a href="#">About</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% if 'spotify_user_display_name' in request.session and request.session.spotify_user_display_name %}
                        <li>
                            <a href="#">{{ request.session.spotify_user_display_name }}</a>
                            <ul>
                                <li>
                                    <a href="{% url 'playback' %}" hx-boost="true" hx-indicator="#spinner">Now Playing</a>
                                </li>
                                <li>
                                    <a href="{% url 'playlists' %}" hx-boost="true" hx-indicator="#spinner">Playlists</a>
                                </li>
                                {% comment %}<li>{% endcomment %}
                                {% comment %}    <a href="{% url 'artists' %}">Followed artists</a>{% endcomment %}
                                {% comment %}</li>{% endcomment %}
                                <li>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <h1>
                {% block page_title %}
                {% endblock page_title %}
            </h1>
        </header>
        <main {% if use_max_width %}class="max-width"{% endif %}>
            <div id="spinner" class="htmx-indicator">
                <img id="spinner-img" src="{% static 'web/spinner.gif' %}" />
            </div>
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer>
            <hr>
            <div class="footer">
                <small>Made with 💙 and out of 🥱</small>
                <small>Powered by Spotify <a href="https://developer.spotify.com/documentation/web-api">Web API</a></small>
                <small><a href="mailto:feedback@mottle.it">Feedback</a></small>
                <small><a href="https://stats.uptimerobot.com/twLEyKzrW7/796740106">Status</a></small>
                <small>v{{ APP_VERSION }}</small>
            </div>
        </footer>
    </body>
</html>
