{% extends "web/base.html" %}
{% load tekore_model_extras %}
{% block page_title %}
    {{ playlist_name }} - deduplicate
{% endblock page_title %}
{% block content %}
    <article>
        <aside>
            <h3>{{ message }}</h3>
        </aside>
    </article>
    {% if playlist_items %}
        <br>
        <table>
            <thead>
                <tr>
                    <th>Artwork</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Track</th>
                    <th>Duration</th>
                    <th>Occurrences</th>
                </tr>
            </thead>
            <tbody>
                {% for id, data in playlist_items.items %}
                    {% if data.track.track.track %}
                        <tr>
                            <td>
                                <img src="{{ data.track.track.album.images | smallest_image | default_image:70 }}" />
                            </td>
                            <td>
                                {% for artist in data.track.track.artists %}
                                    <a href="{{ artist | spotify_url }}">{{ artist.name }}</a>
                                    <br>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ data.track.track.album | spotify_url }}">{{ data.track.track.album.name }}</a>
                            </td>
                            <td>
                                <a href="{{ data.track.track | spotify_url }}">{{ data.track.track.name }}</a>
                            </td>
                            <td>{{ data.track.track.duration_ms | duration_humanized }}</td>
                            <td>{{ data.positions | length }}</td>
                            <td style="display:none;">
                                <input type="hidden"
                                       name="track-meta"
                                       value="{{ data.track.track.uri }}::{{ data.positions | join:',' }}">
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>This item is not a track</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if playlist_owner_id == request.session.spotify_user_spotify_id %}
            <br>
            <button hx-post="."
                    hx-include="input"
                    hx-target="#content"
                    hx-indicator="#spinner">
                <b>Remove duplicates</b></a>
        {% endif %}
    {% endif %}
{% endblock content %}
