{% extends "web/base.html" %}
{% block page_title %}
    {{ playlist.name }} - deduplicate
{% endblock page_title %}
{% block content %}
    <article>
        <aside>
            <h3>{{ message }}</h3>
        </aside>
    </article>
    {% if duplicates %}
        <br>
        <table>
            <thead>
                <tr>
                    <th>Artwork</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Track</th>
                    <th>Duration</th>
                    <th>Occurrences</th>
                </tr>
            </thead>
            <tbody>
                {% for track, count in duplicates %}
                    <tr>
                        <td>
                            <img class="small" src="{{ track.album.image_url_small }}" />
                        </td>
                        <td>
                            {% for artist in track.artists %}
                                <a href="{{ artist.url }}">{{ artist.name }}</a>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'album' track.album.id %}">{{ track.album.name }}</a>
                        </td>
                        <td>
                            <a href="{{ track.url }}">{{ track.name }}</a>
                        </td>
                        <td>{{ track.duration }}</td>
                        <td>{{ count }}</td>
                        <td style="display:none;">
                            <input type="hidden" name="track-ids" value="{{ track.id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if playlist.owner_id == request.session.spotify_user_spotify_id %}
            <br>
            <button hx-post="."
                    hx-include="input"
                    hx-target="#content"
                    hx-indicator="#spinner">
                <b>Remove duplicates</b></a>
        {% endif %}
    {% endif %}
{% endblock content %}
