{% comment %}{% extends "web/base.html" %}{% endcomment %}
{% comment %}{% load tekore_model_extras %}{% endcomment %}
{% comment %}{% block page_title %}{% endcomment %}
{% comment %}    Followed artists{% endcomment %}
{% comment %}{% endblock page_title %}{% endcomment %}
{% comment %}{% block content %}{% endcomment %}
{% comment %}    <table>{% endcomment %}
{% comment %}        <tbody>{% endcomment %}
{% comment %}            {% for artist in artists %}{% endcomment %}
{% comment %}                <tr>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <img src="{{ artist.images | smallest_image | default_image:70 }}">{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <a href="{{ artist | spotify_url }}">{{ artist.name }}</a>{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{{ artist | genres }}</td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <a href="" hx-delete="#" hx-target="this" hx-swap="outerHTML">Unfollow</a>{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                </tr>{% endcomment %}
{% comment %}            {% endfor %}{% endcomment %}
{% comment %}        </tbody>{% endcomment %}
{% comment %}    </table>{% endcomment %}
{% comment %}{% endblock content %}{% endcomment %}
