{% extends "web/base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block page_title %}
    A few useful tools for managing your Spotify music library
{% endblock page_title %}
{% block content %}
    <section>
        <aside>
            <h3>Create discographies</h3>
            <p>Combine all artist's albums into a single playlist, and get artist's new releases into it automatically</p>
            <p>
                <a href="{% url 'search_artists' %}"
                   hx-boost="true"
                   hx-indicator="#spinner"><b>Try it!</b></a>
            </p>
        </aside>
        <aside>
            <h3>Generate cover images</h3>
            <p>Generate cover images for your playlists with AI</p>
            <p>
                <a href="{% url 'playlists' %}" hx-boost="true" hx-indicator="#spinner"><b>Try it!</b></a>
            </p>
        </aside>
        <aside>
            <h3>Merge playlists</h3>
            <p>Merge multiple playlists into a new one, and get new tracks from those playlists into yours automatically</p>
            <p>
                <a href="{% url 'search_playlists' %}"
                   hx-boost="true"
                   hx-indicator="#spinner"><b>Try it!</b></a>
            </p>
        </aside>
        <aside>
            <h3>Deduplicate playlists</h3>
            <p>Find and remove duplicate tracks from a playlist</p>
            <p>
                <a href="{% url 'playlists' %}" hx-boost="true" hx-indicator="#spinner"><b>Try it!</b></a>
            </p>
        </aside>
        <aside>
            <h3>Follow all</h3>
            <p>Follow artists of all tracks in a playlist</p>
            <p>
                <a href="#"><i>Coming soon!</i></a>
            </p>
        </aside>
    </section>
{% endblock content %}
