{% comment %}{% extends "web/base.html" %}{% endcomment %}
{% comment %}{% block title %}{% endcomment %}
{% comment %}    {{ playlist_name }} - audio features{% endcomment %}
{% comment %}{% endblock title %}{% endcomment %}
{% comment %}{% block page_title %}{% endcomment %}
{% comment %}    {{ playlist_name }}{% endcomment %}
{% comment %}{% endblock page_title %}{% endcomment %}
{% comment %}{% block content %}{% endcomment %}
{% comment %}    <table>{% endcomment %}
{% comment %}        <thead>{% endcomment %}
{% comment %}            <tr>{% endcomment %}
{% comment %}                <th>Artwork</th>{% endcomment %}
{% comment %}                <th class="sortable" onClick="sortTable(this)">Artist</th>{% endcomment %}
{% comment %}                <th class="sortable" onClick="sortTable(this)">Album</th>{% endcomment %}
{% comment %}                <th class="sortable" onClick="sortTable(this)">Track</th>{% endcomment %}
{% comment %}                <th class="sortable" onClick="sortTable(this)">Duration</th>{% endcomment %}
{% comment %}                <th class="sortable" onClick="sortTable(this)">BPM</th>{% endcomment %}
{% comment %}                <th title="Acousticness" class="sortable" onClick="sortTable(this)">Acou</th>{% endcomment %}
{% comment %}                <th title="Danceability" class="sortable" onClick="sortTable(this)">Danc</th>{% endcomment %}
{% comment %}                <th title="Energy" class="sortable" onClick="sortTable(this)">Ener</th>{% endcomment %}
{% comment %}                <th title="Instrumentalness" class="sortable" onClick="sortTable(this)">Inst</th>{% endcomment %}
{% comment %}                <th title="Liveness" class="sortable" onClick="sortTable(this)">Live</th>{% endcomment %}
{% comment %}                <th title="Loudness" class="sortable" onClick="sortTable(this)">Loud</th>{% endcomment %}
{% comment %}                <th title="Speechiness" class="sortable" onClick="sortTable(this)">Spee</th>{% endcomment %}
{% comment %}                <th title="Valence" class="sortable" onClick="sortTable(this)">Vale</th>{% endcomment %}
{% comment %}            </tr>{% endcomment %}
{% comment %}        </thead>{% endcomment %}
{% comment %}        <tbody>{% endcomment %}
{% comment %}            {% for item in tracks_with_features %}{% endcomment %}
{% comment %}                <tr>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <img src="{{ item.0.album.images | smallest_image | default_image:70 }}" />{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% for artist in item.0.artists %}{% endcomment %}
{% comment %}                            <a href="{{ artist | spotify_url }}">{{ artist.name }}</a>{% endcomment %}
{% comment %}                            <br>{% endcomment %}
{% comment %}                        {% endfor %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <a href="{{ item.0.album | spotify_url }}">{{ item.0.album.name }}</a>{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        <a href="{{ item.0 | spotify_url }}">{{ item.0.name }}</a>{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{{ item.0.duration_ms | duration_humanized }}</td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.tempo | floatformat:0 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.acousticness | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.danceability | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.energy | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.instrumentalness | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.liveness | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.loudness | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.speechiness | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                    <td>{% endcomment %}
{% comment %}                        {% if item.1 %}{{ item.1.valence | floatformat:-3 }}{% endif %}{% endcomment %}
{% comment %}                    </td>{% endcomment %}
{% comment %}                </tr>{% endcomment %}
{% comment %}            {% endfor %}{% endcomment %}
{% comment %}        </tbody>{% endcomment %}
{% comment %}    </table>{% endcomment %}
{% comment %}{% endblock content %}{% endcomment %}
