{% extends "web/base.html" %}
{% block title %}
    {{ playlist.name }}
{% endblock title %}
{% block page_title %}
    <div class="centered">
        <img class="large" src="{{ playlist.image_url_large }}" />
        <div>
            <a href="{{ playlist.url }}">{{ playlist.name }}</a>
        </div>
        {% include "web/parts/playlist_actions.html" with source="playlist" %}
    </div>
{% endblock page_title %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Artwork</th>
                <th class="sortable" onClick="sortTable(this)">Artist</th>
                <th class="sortable" onClick="sortTable(this)">Album</th>
                <th class="sortable" onClick="sortTable(this)">Track</th>
                <th class="sortable" onClick="sortTable(this)">Duration</th>
                <th class="sortable" onClick="sortTable(this)">Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr>
                    <td>
                        <img class="small" src="{{ track.album.image_url_small }}" />
                    </td>
                    <td>
                        {% for artist in track.artists %}
                            <a href="{{ artist.url }}">{{ artist.name }}</a>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'album' track.album.id %}">{{ track.album.name }}</a>
                    </td>
                    <td>
                        <a href="{{ track.url }}">{{ track.name }}</a>
                    </td>
                    <td>{{ track.duration }}</td>
                    <td>{{ track.added_at | date:"Y-m-d" }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
