{% extends "web/base.html" %}
{% load tekore_model_extras %}
{% block page_title %}
    {{ playlist_name }}
{% endblock page_title %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Artwork</th>
                <th class="sortable" onClick="sortTable(this)">Artist</th>
                <th class="sortable" onClick="sortTable(this)">Album</th>
                <th class="sortable" onClick="sortTable(this)">Track</th>
                <th class="sortable" onClick="sortTable(this)">Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for item in playlist_items %}
                {% if item.track.track %}
                    <tr>
                        <td>
                            <img src="{{ item.track.album.images | pick_image | default_image:70 }}" />
                        </td>
                        <td>
                            {% for artist in item.track.artists %}
                                <a href="{{ artist | spotify_url }}">{{ artist.name }}</a>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ item.track.album | spotify_url }}">{{ item.track.album.name }}</a>
                        </td>
                        <td>
                            <a href="{{ item.track | spotify_url }}">{{ item.track.name }}</a>
                        </td>
                        <td>{{ item.track.duration_ms | duration_humanized }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>This item is not a track</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
