{% load static %}
{% load tekore_model_extras %}
<div id="modal" _="on closeModal remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <label>Name</label>
        <input type="text" name="name" value="{{ playlist_name }}" required>
        <a href=""
           hx-post="{% url 'auto_accept_playlist_updates' playlist_id %}"
           hx-target="this"
           hx-include="previous input"
           hx-indicator="#spinner">
            {% include "web/icons/accept.html" with enabled=auto_accept_updates title="Auto accept updates" %}
        </a>
    </div>
</div>
