{% extends "web/base.html" %}
{% block title %}
    Saved tracks
{% endblock title %}
{% block page_title %}
    Saved tracks
{% endblock page_title %}
{% block content %}
    {% if tracks %}
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" onClick="toggleCheckboxes(this, 'saved-track')">
                    </th>
                    <th>Artwork</th>
                    <th class="sortable" onClick="sortTable(this)">Artist</th>
                    <th class="sortable" onClick="sortTable(this)">Album</th>
                    <th class="sortable" onClick="sortTable(this)">Track</th>
                    <th class="sortable" onClick="sortTable(this)">Duration</th>
                    <th class="sortable" onClick="sortTable(this)">Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                    <tr>
                        <td>
                            <input type="checkbox"
                                   name="track"
                                   value="{{ track.id }}"
                                   class="saved-track">
                        </td>
                        <td>
                            <img class="small" src="{{ track.album.image_url_small }}" />
                        </td>
                        <td>
                            {% for artist in track.artists %}
                                <a href="{{ artist.url }}">{{ artist.name }}</a>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'album' track.album.id %}">{{ track.album.name }}</a>
                        </td>
                        <td>
                            <a href="{{ track.url }}">{{ track.name }}</a>
                        </td>
                        <td>{{ track.duration }}</td>
                        <td>{{ track.added_at | date:"Y-m-d" }}</td>
                        <td>{% include "web/parts/saved_track_delete.html" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <article>
            <aside>
                <h3>No saved tracks found</h3>
            </aside>
        </article>
    {% endif %}
{% endblock content %}
