{% extends "web/base.html" %}
{% load static %}
{% load tekore_model_extras %}
{% block title %}
    Search playlists
{% endblock title %}
{% block page_title %}
    Playlists
{% endblock page_title %}
{% block content %}
    <section>
        <form>
            <label for="query">Playlist name</label>
            <input type="search"
                   name="query"
                   value="{{ query }}"
                   placeholder="Start typing a playlist name..."
                   hx-get="."
                   hx-trigger="input changed delay:500ms, search"
                   hx-target="#search-results"
                   hx-push-url="true"
                   hx-indicator="#spinner">
        </form>
    </section>
    <br>
    <section id="search-results">
        {% if playlists %}
            {% include "web/parts/playlists.html" with actions="search" %}
        {% endif %}
    </section>
{% endblock content %}
