{% extends "web/base.html" %}
{% load static %}
{% block title %}
    Search artists
{% endblock title %}
{% block page_title %}
    Search artists
{% endblock page_title %}
{% block content %}
    <section>
        <input type="search"
               name="query"
               value="{{ query }}"
               placeholder="Start typing an artist name..."
               hx-get="."
               hx-trigger="input changed delay:500ms, search"
               hx-target="#search-results"
               hx-indicator="#spinner">
    </section>
    <br>
    <section id="search-results">
        {% if artists %}
            {% include "web/parts/artists.html" %}
        {% endif %}
    </section>
{% endblock content %}
