{% extends "web/base.html" %}
{% load static %}
{% block title %}
    Search artists
{% endblock title %}
{% block page_title %}
    Search artists
{% endblock page_title %}
{% block content %}
    <div class="centered">
        <form>
            <input type="search"
                   id="query"
                   name="query"
                   value="{{ query }}"
                   placeholder="Artist name">
            <button hx-get="."
                    hx-target="#search-results"
                    hx-include="#query"
                    hx-indicator="#spinner">Search</button>
        </form>
    </div>
    <br>
    <section id="search-results">
        {% if artists %}
            {% include "web/parts/artists.html" %}
        {% endif %}
    </section>
{% endblock content %}
