{% extends "web/base.html" %}
{% block head %}
    {% include "web/parts/leafletjs.html" %}
{% endblock head %}
{% block title %}
    Upcoming events
{% endblock title %}
{% block page_title %}
    Upcoming events
{% endblock page_title %}
{% block content %}
    {% for artist, events in upcoming_events.items %}
        <h2>
            <div class="centered">
                <img src="{{ artist.image_url_small }}">
                <a href="{{ artist.url }}">{{ artist.name }}</a>
            </div>
        </h2>
        {% if events %}
            {% include "web/parts/events.html" %}
        {% else %}
            <p>No events found</p>
        {% endif %}
        <br>
        <br>
    {% endfor %}
{% endblock content %}
